<div class="container">
  <div class="row">
   <div class="col-md-8 offset-md-2">
<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
<table>
  <tr>
    <th></th>
    <td>店舗名</td>
    <td><%= f.text_field :name, autofocus: true %></td>
 </tr>

 <tr>
    <th></th>
    <td>メールアドレス</td>
    <td> <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div></td>
  </tr>

<tr>
    <th></th>
    <td>郵便番号（ハイフンなし）</td>
    <td><%= f.text_field :postal_code %></td>
  </tr>

  <tr>
    <th></th>
    <td>住所</td>
    <td><%= f.text_area :address %></td>
  </tr>


  <tr>
    <th></th>
    <td>電話番号（ハイフンなし）</td>
    <td><%= f.text_field :telephone_number %></td>
  </tr>





 <tr>
    <th></th>
    <div class="field">
    <td>パスワード (6文字以上)</td>
    <% if @minimum_password_length %>
    <% @minimum_password_length %>
    <% end %>
   <td><%= f.password_field :password, autocomplete: "new-password" %></td>
  </div>
</tr>

<tr>
    <th></th>
    <td>パスワード（確認用）</td>
    <td><div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div></td>
</tr>

</table>
  <div class="col-md-7 offset-md-5">
    <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


 </div>
  </div>
</div>