<%= @user.name %>店出品商品一覧

<table class="table table-hover table-inverse">
    <thead>
        <tr>
        <th>商品名</th>
        <th>数量</th>
        <th>原価</th>
        <th>在庫金額</th>
        <th>消費期限</th>
        <th>備考</th>
        <th>画像</th>
        </tr>
    </thead>






       <%= form_with model:@order, url: orders_path, method: :post,  local:true do |f| %>

       <%= f.hidden_field :order_user_id, :value => current_user.id %>
        <%= f.hidden_field :ordered_user_id, :value => @user.id %>

        <%= f.fields_for @order_item do |o| %>
        <%= collection_check_boxes(:order_item, :item_id, @user.items, :id, :name, include_hidden: false) do |b| %>
    <tbody>
      <tr>
        <td><%= b.label { b.check_box + b.text } %></td>
        <% end %>
        <% @items.each do |item| %>
        <td><%= item.amount %></td>
        <td><%= item.price %></td>
        <td><%= item.until %></td>
        <td><%= item.notice %></td>
     </tr>
    </tbody>
</table>
<% end %>


    <%= f.submit '注文する' %>

<% end %>
<% end %>