<%= @user.name %>店出品商品一覧

<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th>商品名</th>
            <th>商品コード</th>
            <th>数量</th>
            <th>原価</th>
            <th>在庫金額</th>
            <th>消費期限</th>
        </tr>
    </thead>
        <tbody>
            <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.code %></td>
            <td><%= item.amount %></td>
            <td><%= item.price %></td>
            <% @subtotal = item.price * item.amount %>
            <td><%= @subtotal %></td>
            <td><%= item.until %></td>
            <td><%#= attachment_image_tag @item, :image %></td>
            <td><%= link_to "編集", order_path(order.id), class: "btn btn-sm btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
</table>