<div class="container">
  <div class="row">
   <div class="col-md-8 offset-md-2">

<h3><strong><%= @user.name %>店出品商品一覧</strong></h3>

<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th>商品名</th>
            <th>商品コード</th>
            <th>数量</th>
            <th>原価</th>
            <th>在庫金額</th>
            <th>消費期限</th>
            <th>備考</th>
        </tr>
    </thead>
        <tbody>
            <% @items.each do |item| %>
          <tr>
            <td><%= link_to item.name, item_path(item.id) %></td>
            <td><%= item.code %></td>
            <td><%= item.amount %></td>
            <td><%= item.price %></td>
            <% @subtotal = item.price * item.amount %>
            <td><%= @subtotal %></td>
            <td><%= item.until %></td>
            <td><%= item.notice %></td>

          </tr>
          <% end %>
        </tbody>
</table>
</div>
  </div>
</div>