<h2>出品商品詳細</h2>
<table>
<tr>
  <th>商品画像</th><td><%= attachment_image_tag @item, :image, :fill, 200, 200, format: 'jpeg' %></td>
</tr>

<tr>
  <th>商品名</th><td><%= @item.name %></td>
</tr>

<tr>
  <th>商品コード</th><td><%= @item.code %></td>
</tr>


<tr>
  <th>数量</th><td><%= @item.amount %></td>
</tr>

<tr>
  <th>原価</th><td><%= @item.price %></td>
</tr>

<tr>
  <th>消費期限</th><td><%= @item.until %></td>
</tr>

<tr>
  <th>備考</th><td><%= @item.notice %></td>
</tr>





<tr>
<td><%= link_to "編集", edit_item_path(@item.id), class: "btn btn-sm btn-primary" %></td>
<td><%= link_to "出品取り消し", item_path(@item), method: :delete, "data-confirm" => "本当に取り消しますか？" %></td>
</tr>
</table>